#prs{
        color: chocolate;
    }
#skl{
    color: chocolate;
}
.picname{
    color:violet;
    /* text-align: center; */
}

.prsnldtls{
    color: darkgoldenrod;
    
    /* background-color: rgb(118, 201, 162); */
    /* text-align: center; */
    text-shadow: palegreen;
}
